<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../public/dist/output.css" />
    <title>Espace || Professeur</title>
  </head>
  <body class="h-screen">
    <div id="notifications" class="fixed top-4 right-4 space-y-2"></div>
    <button id="logoutButton" class="px-3 py-2 bg-red-500">decon</button>
    <script
      src="../../public/javascript/Teacher/teacher.js"
      type="module"
    ></script>
  </body>
</html>
